<style>
    .jumbotron {
        padding: 2 rem 1 rem;
        margin-bottom: 2 rem;
        background-color: antiquewhite;
        border-radius: 0.3 rem;
    }
</style>

<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Simply Note Taking App</p>
    <p>Jot down your idea as a note</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Notes</a>
</div>