<div class="card-card-body">
    <h3>Edit Booking</h3>
    <form action="/bookings/edit/{{booking._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="form-group">
        <label for="facility">Facility</label>
        <input type="text" 
                class="form-control" 
                name="facility" 
                value="{{booking.facility}}"
        />
    </div>
    <div class="form-group">
        <label for="bookingDate">Booking Date</label>
        <input type="text" 
                class="form-control" 
                name="bookingDate" 
                value="{{booking.bookingDate}}"
        />
    </div>
    <div class="form-group">
        <label for="session">Session</label>
        <input type="text" 
                class="form-control" 
                name="session" 
                value="{{booking.session}}"
        />
    </div>

    <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div>